@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
  ::-webkit-scrollbar {
    width: 6px;
  }
}

@media (max-width: 1023px) {
  ::-webkit-scrollbar {
    width: 0;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}